[Unit]
Description=Task Tracker

[Service]
Type=simple
User=task_tracker_spa
Group=task_tracker_spa
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4200"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/tasks3/task_tracker_spa
ExecStart=/home/tasks3/task_tracker_spa/start.sh

[Install]
WantedBy=multi-user.target
